body {
  font-family: Arial, sans-serif; /* Set a default font family */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Use border-box box-sizing model */
}

/* header css */
header {
  background-color: #ffffff;
  padding: 10px 20px;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}


/* Home css */
.home-container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  text-align: center; /* Center-align the content */
}

.museum-image {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add some space below the image */
}

/* Carlist css */
.carList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}


/* car card css */
.car-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.car-card:hover {
  transform: scale(1.05);
}

.car-card img {

  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.car-card h2 {
  margin: 10px 0;
}

.car-card p {
  margin-bottom: 10px;
}


/* navbar css */
.navbar ul li {
  list-style: none;
}
